DJANGO_SUPERUSER_EMAIL=None
DJANGO_SUPERUSER_USERNAME=None
DJANGO_SUPERUSER_PASSWORD=None

ADFS_CLIENT_SECRET=None
ADFS_CLIENT_ID=None
ADFS_TENANT_ID=None

DEBUG=False

DJANGO_DB='postgresql'
POSTGRES_HOST='db'
POSTGRES_NAME='postgres'
POSTGRES_USER='postgres'
POSTGRES_PASSWORD='postgres'
POSTGRES_PORT=5432
