{% extends 'base.html' %}

{% block title %}QCrBox Workflow{% endblock %}

{% block content %}

<div class="container">
  <div class="row justify-content-center">
    <table width=100%>
      <tr>
        <th width=35%><h3>Workflow</h3></th>
        <th width=65%><h3>Processing</h3></th>  
      </tr>
      <tr style="vertical-align:top">
        <td>
          <table width=35%>
            {% for prior_step in prior_steps %}
              <tr>
                <td align='right' width=15%>
                  {% if prior_step.infile %}
                    <a href="{% url 'workflow' prior_step.infile.pk %}"><i class="fa-regular fa-square"></i></a>
                  {% else %}
                    <i class="fa-regular fa-square"></i>
                  {% endif %}
                </td>
                <td align='left' width=5%>
                  &nbsp{% if prior_step.infile %}
                    {{prior_step.infile.filename}}
                  {% else %}
                    <i>Deleted</i>
                  {% endif %}
                </td>
                <td align='left' width=10%>
                  {% if prior_step.infile %}
                    <a href="{% url 'download' prior_step.infile.pk %}">
                      <i class="fas fa-download"></i>
                    </a>
                  {% endif %}
                </td>
              </tr>
              <tr>
                <td align='right'>
                  <i class="fa-solid fa-arrow-down"></i>
                </td>
                <td align='left'>
                  <i>&nbsp{{prior_step.application.name}}</i>
                </td>
              </tr>
            {% endfor %}
            <tr>
              <td align='right'>
                <i class="fa-solid fa-square"></i>
              </td>
              <td align='left'>
                <b>&nbsp{{file.filename}}</b>
              </td>
              <td align='left' width=10%>
                <a href="{% url 'download' file.pk %}">
                  <i class="fas fa-download"></i>
                </a>
              </td>
            </tr>
          </table>
        </td>
        <td vertical-align="top">
          <div class="card">
            {% if not current_application %}
              <h4>Dataset Metadata</h4>
              <ul>
                <li>Dataset ID: {{file.backend_uuid}}</li>
                <li>Filetype: {{file.filetype}}</li>
              </ul>
              <i>Please select an application from the workflow to continue processing.</i>
            {% else %}
              <h4>{{current_application.name}}</h4>
              <ul>
                <li>Version: {{current_application.version}}</li>
                <li>Website: <a href="{{current_application.url}}">{{ current_application.name }}</a>
              </ul>
              {% if session_in_progress %}
                <form action="" method="POST" enctype="multipart/form-data">
                  {% csrf_token %}
                  <input type="hidden" id="end_session" name="end_session" value=True>
                  <input type="hidden" id="application" name="application" value={{ current_application.pk }}>
                  <button type="submit" class="btn btn-primary">
                    End Session
                  </button>
                </form>
              {% else %}
                <form action="" method="POST" enctype="multipart/form-data">
                  {% csrf_token %}
                  <input type="hidden" id="startup" name="startup" value=True>
                  <input type="hidden" id="application" name="application" value={{ current_application.pk }}>
                  <button type="submit" class="btn btn-primary">
                    Launch Application
                  </button>
                </form>
              {% endif %}
            {% endif %}
            {% if session_in_progress %}
            {% else %}
              <hr>
              <center>
                <form action="" method="POST" enctype="multipart/form-data">
                  {% csrf_token %}
                  {{ select_application_form.as_p }}
                  <button type="submit" class="btn btn-primary">
                    Select Application
                  </button>
                </form>
              </center>
            {% endif %}
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>

{% if session_in_progress %}
  <script>
    let hostname = window.location.hostname;
    var interactiveWindow = window.open(`http://${hostname}:{{ current_application.port }}/vnc.html?path=vnc&autoconnect=true&resize=remote&reconnect=true&show_dot=true`, '_blank');
    window.onunload = function() {      
      interactiveWindow.close();
    };
  </script>
{% endif %}

{% endblock %}
