{% extends 'base.html' %}

{% block title %}QCrBox Workflow{% endblock %}

{% block content %}

<style>
  th, td {
    padding: 5px;
  }

.tooltiphover {
  color: blue;
}

.tooltiptext {
  display: none;
}

.tooltiphover:hover + .tooltiptext {
  display: block;
}

</style>

<div class="container">
  <div class="row justify-content-center">
    <div id="cached-interactive-session-id" title={{app_session_id}}></div>
    <table width=100%>
      <tr>
        <th width=40%><h3>Workflow</h3></th>
        <th width=60%><h3>Processing</h3></th>  
      </tr>
      <tr style="vertical-align:top">
        <td>
          <table width=90% id="workflow-display">
            {% for prior_step in prior_steps %}
              <tr id="ancestor-row">
                <td align='right'>
                  {% if prior_step.infile.active %}
                    <a href="{% url 'workflow' prior_step.infile.pk %}" id="workflow-link-{{prior_step.infile.display_filename}}"><i class="fa-regular fa-square"></i></a>
                  {% else %}
                    <i class="fa-regular fa-square"></i>
                  {% endif %}
                </td>
                <td align='left' padding=15px>
                  {% if prior_step.infile.active %}
                    {{prior_step.infile.display_filename}}
                  {% else %}
                    <i>Deleted</i>
                  {% endif %}
                </td>
                <td align='left' >
                  {% if prior_step.infile.active %}
                    <a href="{% url 'download' prior_step.infile.pk %}" id="download-link-{{prior_step.infile.display_filename}}">
                      <i class="fas fa-download"></i>
                    </a>&nbsp 
                    <a href="{% url 'visualise' prior_step.infile.pk %}" target="_blank" id="visualise-link-{{prior_step.infile.display_filename}}">
                      <i class="fas fa-eye"></i>
                    </a>&nbsp
                    <a href="{% url 'dataset_history' prior_step.infile.pk %}" id="history-link-{{prior_step.infile.display_filename}}">
                      <i class="fas fa-clock"></i>
                    </a>
                  {% endif %}
                </td>
              </tr>
              <tr id="process-row">
                <td align='right'>
                  <i class="fa-solid fa-arrow-down"></i>
                </td>
                <td align='left'>
                  <i>&nbsp{{prior_step.application.name}}</i>
                </td>
              </tr>
            {% endfor %}
            <tr id="current-row">
              <td align='right'>
                <i class="fa-solid fa-square"></i>
              </td>
              <td align='left'>
                <b id='current-filename'>{{file.display_filename}}</b>
              </td>
              <td align='left'>
                <a href="{% url 'download' file.pk %}" id="download-link-current">
                  <i class="fas fa-download"></i>
                </a>&nbsp
                <a href="{% url 'visualise' file.pk %}" target="_blank" id="visualise-link-current">
                  <i class="fas fa-eye"></i>
                </a>&nbsp
                <a href="{% url 'dataset_history' file.pk %}" id="history-link-current">
                  <i class="fas fa-clock"></i>
                </a>
              </td>
            </tr>
          </table>
        </td>
        <td vertical-align="top">
          <div class="card">
            <div class="card-body">
            {% if not current_command %}
              <h4>Dataset Metadata</h4>
              <ul>
                <li>Dataset ID: {{file.backend_uuid}}</li>
                <li>Filetype: {{file.filetype}}</li>
              </ul>
              <i>Please select a command from the workflow to continue processing.</i>
            {% else %}
              <h4>{{current_command.app.name}} : {{current_command}}</h4>
              <ul>
                <li>Application: {{current_command.app.name}}</li>
                <li>Version: {{current_command.app.version}}</li>
                <li>Website: <a href="{{current_command.app.url}}" id="external-app-link">{{ current_command.app.name }}</a>
              </ul>
              {% if session_in_progress %}
                <form action="" method="POST" enctype="multipart/form-data">
                  {% csrf_token %}
                  <input type="hidden" id="end_session" name="end_session" value=True>
                  <input type="hidden" id="command" name="command" value={{ current_command.pk }}>
                  <button type="submit" class="btn btn-primary" id="end-session-button">
                    End Session
                  </button>
                </form>
              {% elif calculation_in_progress %}
                <h5><b><i>Calculation in progress, do not close this tab!</i></b></h5> 
                <p>The page will automatically refresh every {{refresh_time}} seconds.</p>
              {% else %}
                <form action="" method="POST" enctype="multipart/form-data">
                  {% csrf_token %}
                  <input type="hidden" id="startup" name="startup" value=True>
                  <input type="hidden" id="command" name="command" value={{ current_command.pk }}>
                  {{ command_form.as_p }}
                  <button type="submit" class="btn btn-primary" id="start-app-button">
                    Launch Application
                  </button>
                </form>
              {% endif %}
            {% endif %}
            {% if session_in_progress or calculation_in_progress %}
            {% else %}
              <hr>
              <center>
                <form action="" method="POST" enctype="multipart/form-data">
                  {% csrf_token %}
                  {{ select_command_form.as_p }}
                  <button type="submit" class="btn btn-primary" id="select-app-button">
                    Select Application
                  </button>
                </form>
              </center>
            {% endif %}
            </div>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>

{% if current_command.interactive %}
  <script>
    let hostname = window.location.hostname;

    document.getElementById("start-app-button").addEventListener("click", function(){ window.open(`http://${hostname}:{{ current_command.app.port }}/vnc.html?path=vnc&autoconnect=true&resize=remote&reconnect=true&show_dot=true`, '_blank'); }); 
  </script>
{% elif calculation_in_progress %}
  <script>
    setTimeout(function(){
      location.href="{% url 'workflow-pending' file.pk current_command.pk %}"
      } , {{refresh_time}}000
    );
  </script>
{% endif %}



{% endblock %}
